<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2">
	<test name="API Tests">
		<classes>
			<class name="operations.DeleteRequest" />
			<class name="operations.GetRequest" />
			<class name="operations.PostRequest" />
			<class name="operations.UpdateRequest" />
		</classes>
	</test>
</suite>